* {
    box-sizing: border-box;
}



body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: white;
}

a {
    color: #000;
}

/* Navbar start */

.navbar {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: fixed;
    width: 100%;
    z-index: 3;
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}

.navbar li a {
    display: block;
    padding: 15px 15px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
}

.navbar li a:hover,
.navbar .menu-btn:hover {
    background-color: #f4f4f4;
}

.navbar .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
}

/* menu */

.navbar .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

.navbar .menu-icon {
    cursor: pointer;
    display: inline-block;

    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.navbar .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.navbar .menu-icon .navicon:before,
.navbar .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 70%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.navbar .menu-icon .navicon:before {
    top: 5px;
}

.navbar .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.navbar .menu-btn {
    display: none;
}

.navbar .menu-btn:checked~.menu {
    max-height: 240px;
}

.navbar .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.navbar .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.navbar.menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.navbar .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.navbar.menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}


@media (min-width: 48em) {
    .navbar li {
        float: left;
    }

    .navbar li a {
        padding: 20px 30px;
    }

    .navbar .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .navbar .menu-icon {
        display: none;
    }
}

/*Nav bar end*/


/*Header start*/
.header1 {
    overflow: hidden;
    padding: 10% 8%;
    background-color: white;

}

.picheader>img {
    width: 300px;
    border-radius: 240px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 240px;
}

.picheader h1 {
    font-size: 40px;
    text-align: center;
    color: black;
}

.picheader p{
    text-align: center;
    font-size: 25px;
    color: black;
}

@media screen and (max-width: 500px) {
    .header1 a {
        float: none;
        display: block;
        text-align: left;
    }

    .header1-right {
        float: none;
    }
}

/*End of header*/



/* About */
.side {
    -ms-flex: 100%;
    flex: 100%;
    background-color: white;
    padding: 20px;
}


.details {
    display: flex;
    flex-wrap: wrap;
}

.details img {
    width: 100px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
  
}

.image{
    width: 100px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
}



.side h1 {
    text-align: center;
}


.btn {
    padding: 1em 2.1em 1.1em;
    border-radius: 3px;
    margin: 8px 8px 8px 8px;
    color: #fbdedb;
    background-color: #fbdedb;
    display: inline-block;
    background: #e74c3c;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-family: sans-serif;
    font-weight: 800;
    font-size: .85em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    margin-right: auto;
    margin-left: auto;
}
.btn:hover, .btn:focus {
    opacity: 0.8;
}
.btn:active {
    -webkit-transform: scale(0.80);
    -moz-transform: scale(0.80);
    -ms-transform: scale(0.80);
    -o-transform: scale(0.80);
    transform: scale(0.80);
}
.btn.circular {
    border-radius: 50em ;
}

.resume{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    width: 100%;

}


.p1{
    text-align: center;
    font-size: 20px;
}



/*End of About*/



/*portfolio*/

.skills {
    -ms-flex: 70%;

    flex: 70%;
    background-color: white;
    padding: 20px;
}

.test {
    display: flex;
    flex-wrap: wrap;
}

.projects {
    width: 300px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.container {
    text-align: center;
    padding: 10px 20px;
}

.skills h1 {
    text-align: center;
}

.button1 {
    background-color: black;
    border: none;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
}

/*End of portfolio*/

/*Contact form*/
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: gray;
}

.container {
    border-radius: 5px;
    background-color: white;
    padding: 0px;
}


.column {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.column i {
    display: flex;
    flex-wrap: wrap;
    flex: 30%;
    word-break: break-all;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


@media screen and (max-width: 600px) {

    .column,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

/*Contact Form*/


/* Footer */
.footer {
    padding: 25px;
    text-align: center;
    background: white;
}

.footer i {
    padding: 10px;
}

/* Footer end*/